<a href="https://colab.research.google.com/github/Surajnair1907/Shared/blob/main/kmeans_clustering_cricket.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
## k-means Clustering practise - Cricket data

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
cricket_df = pd.read_csv('https://raw.githubusercontent.com/Surajnair1907/Shared/main/Cricket.csv',encoding='cp1252')

In [9]:
cricket_df.head(4)

                        Player       Span  Mat  Inns  ...     SR  100  50   0
0         SR Tendulkar (INDIA)  1989-2012  463   452  ...  86.23   49  96  20
1  KC Sangakkara (Asia/ICC/SL)  2000-2015  404   380  ...  78.86   25  93  15
2         RT Ponting (AUS/ICC)  1995-2012  375   365  ...  80.39   30  82  20
3      ST Jayasuriya (Asia/SL)  1989-2011  445   433  ...  91.20   28  68  34

[4 rows x 13 columns]

In [11]:
## Selecting only the necessary fields
cric_df = cricket_df[['SR','Ave']]

In [12]:
cric_df.head(3)

      SR    Ave
0  86.23  44.83
1  78.86  41.98
2  80.39  42.03

In [14]:
## scaling the values
from sklearn.preprocessing import StandardScaler

In [22]:
# Convert the data to numpy array
cric_np = np.array(cric_df)

In [24]:
# fit and transform the data using StandardScalar
cric_df1 = StandardScaler().fit_transform(cric_np)

In [29]:
# Import the kmeans module
from sklearn.cluster import KMeans

In [31]:
kmeans = KMeans(n_clusters = 4, max_iter = 50, random_state = 100)
kmeans.fit(cric_df1)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=50,
       n_clusters=4, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=100, tol=0.0001, verbose=0)

In [32]:
kmeans.labels_

array([2, 0, 0, 1, 3, 0, 0, 0, 0, 0, 1, 0, 1, 2, 3, 2, 3, 1, 0, 0, 1, 0,
       3, 0, 1, 2, 3, 1, 3, 0, 3, 3, 0, 3, 2, 3, 3, 0, 2, 0, 3, 3, 2, 3,
       3, 3, 0, 3, 3, 0, 1, 0, 3, 3, 3, 3, 0, 1, 3, 1, 3, 1, 0, 2, 2, 0,
       0, 3, 0, 3, 0, 3, 3, 3, 0, 0, 3, 1, 3], dtype=int32)

In [33]:
len(kmeans.labels_)

79

In [34]:
len(cric_df1)

79

In [50]:
pd.Series(kmeans.labels_)

0     2
1     0
2     0
3     1
4     3
     ..
74    0
75    0
76    3
77    1
78    3
Length: 79, dtype: int32

In [55]:
pd.DataFrame(kmeans.labels_)

    0
0   2
1   0
2   0
3   1
4   3
.. ..
74  0
75  0
76  3
77  1
78  3

[79 rows x 1 columns]

In [59]:
clust_df2 = pd.concat([cricket_df['Player'], pd.DataFrame(kmeans.labels_)], axis = 1)

In [61]:
clust_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  79 non-null     object
 1   0       79 non-null     int32
dtypes: int32(1), object(1)
memory usage: 1.1+ KB

In [75]:
clust_df2.head(40)
#clust_df2.tail(40)

                          Player  0
0           SR Tendulkar (INDIA)  2
1    KC Sangakkara (Asia/ICC/SL)  0
2           RT Ponting (AUS/ICC)  0
3        ST Jayasuriya (Asia/SL)  1
4     DPMD Jayawardene (Asia/SL)  3
5      Inzamam-ul-Haq (Asia/PAK)  0
6         JH Kallis (Afr/ICC/SA)  0
7        SC Ganguly (Asia/INDIA)  0
8      R Dravid (Asia/ICC/INDIA)  0
9               BC Lara (ICC/WI)  0
10               TM Dilshan (SL)  1
11    Mohammad Yousuf (Asia/PAK)  0
12        AC Gilchrist (AUS/ICC)  1
13         MS Dhoni (Asia/INDIA)  2
14          M Azharuddin (INDIA)  3
15       AB de Villiers (Afr/SA)  2
16              PA de Silva (SL)  3
17             CH Gayle (ICC/WI)  1
18             Saeed Anwar (PAK)  0
19            S Chanderpaul (WI)  0
20     Yuvraj Singh (Asia/INDIA)  1
21                DL Haynes (WI)  0
22              MS Atapattu (SL)  3
23                ME Waugh (AUS)  0
24     V Sehwag (Asia/ICC/INDIA)  1
25               V Kohli (INDIA)  2
26                 HH Gibbs (SA)  3
27  Shahid Afridi (Asia/ICC/PAK)  1
28           SP Fleming (ICC/NZ)  3
29               MJ Clarke (AUS)  0
30                SR Waugh (AUS)  3
31              A Ranatunga (SL)  3
32           Javed Miandad (PAK)  0
33             Younis Khan (PAK)  3
34                  HM Amla (SA)  2
35            Saleem Malik (PAK)  3
36                 NJ Astle (NZ)  3
37             GC Smith (Afr/SA)  0
38                MG Bevan (AUS)  2
39                G Kirsten (SA)  0

In [69]:
clust_df3 = pd.concat([cricket_df[['Player','SR','Ave']], pd.DataFrame(kmeans.labels_)], axis = 1)

In [70]:
clust_df3.head(3)

                        Player     SR    Ave  0
0         SR Tendulkar (INDIA)  86.23  44.83  2
1  KC Sangakkara (Asia/ICC/SL)  78.86  41.98  0
2         RT Ponting (AUS/ICC)  80.39  42.03  0

In [72]:
clust_df3.groupby(0)[['SR','Ave']].mean()

          SR        Ave
0
0  75.751852  41.484444
1  94.175833  35.409167
2  88.273333  49.546667
3  74.014839  33.949355